openapi: 3.1.0
info:
  version: 1.0.0
  title: CreatorDB Headless API V3
  description: "# CreatorDB Headless API V3"
  contact:
    name: CreatorDB
    url: "https://www.creatordb.app"
    email: support@creatordb.app
  license:
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
    name: Apache 2.0
servers:
  - url: "https://apiv3.creatordb.app"
    description: Production Environment (CreatorDB Headless API V3)
paths:
  /usage:
    get:
      tags:
        - User Account
      summary: Get API Usage Statistics
      description: Retrieves your API usage statistics within the specified date range (maximum 365 days). Defaults to 7 days ago when no start or end dates are provided.
      operationId: getApiUsage
      parameters:
        - name: start
          in: query
          description: "Start date, represented as a Unix timestamp in milliseconds. Defaults to 7 days ago."
          required: false
          schema:
            type: string
            examples:
              - "1737312000000"
        - name: end
          in: query
          description: "End date, represented as a Unix timestamp in milliseconds. Defaults to current time."
          required: false
          schema:
            type: string
            examples:
              - "1737398400000"
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl -X GET "https://apiv3.creatordb.app/usage" \
              -H "api-key: <YOUR_API-KEY_HERE>"
      responses:
        "200":
          description: API credit usage results returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: API usage data containing records and count.
                    properties:
                      records:
                        type: array
                        description: API usage records for the requested date range.
                        items:
                          type: object
                          properties:
                            date:
                              type: string
                              description: Date in YYYYMMDD format (UTC±0).
                              pattern: '^\d{8}$'
                              examples:
                                - "20260120"
                            requestCount:
                              type: integer
                              description: Total number of API requests for this API key on this day.
                              minimum: 0
                              examples:
                                - 47
                            totalQuotaUsed:
                              type: integer
                              description: Total credits consumed for this API key on this day.
                              minimum: 0
                              examples:
                                - 47
                            endpoints:
                              type: object
                              description: Request count and quota usage per endpoint.
                              additionalProperties:
                                type: object
                                properties:
                                  count:
                                    type: integer
                                    description: Number of requests made to this endpoint.
                                    minimum: 0
                                  creditsUsed:
                                    type: integer
                                    description: Total quota consumed by this endpoint.
                                    minimum: 0
                                required:
                                  - count
                                  - creditsUsed
                              examples:
                                - searchInstagram:
                                    count: 12
                                    creditsUsed: 12
                                  getInstagramProfile:
                                    count: 8
                                    creditsUsed: 8
                                  getTiktokProfile:
                                    count: 10
                                    creditsUsed: 10
                            platforms:
                              type: object
                              description: "Number of requests per social media platform. Empty when no platform-specific calls were made."
                              additionalProperties:
                                type: integer
                                minimum: 0
                              default: {}
                              examples:
                                - instagram: 20
                                  tiktok: 10
                                  youtube: 17
                            quotaByPlatform:
                              type: object
                              description: "Quota consumed per social media platform. Empty when no platform-specific calls were made."
                              additionalProperties:
                                type: integer
                                minimum: 0
                              default: {}
                              examples:
                                - instagram: 20
                                  tiktok: 10
                                  youtube: 17
                          required:
                            - date
                            - requestCount
                            - totalQuotaUsed
                            - endpoints
                      count:
                        type: integer
                        description: "Total number of records returned."
                        minimum: 0
                        examples:
                          - 7
                    required:
                      - records
                      - count
                  creditsUsed:
                    type: integer
                    description: Total number of API credits consumed across all requests in this session.
                    examples:
                      - 1
                  creditsAvailable:
                    type: integer
                    description: "Number of API credits remaining. Returns `-1` if the quota is unlimited."
                    examples:
                      - -1
                  traceId:
                    type: string
                    description: "Unique trace ID for each request."
                    examples:
                      - f8e4a3b2c1d0e9f8a7b6c5d4e3f2a1b0
                  timestamp:
                    type: integer
                    description: "Time the response was generated, represented as a Unix timestamp in milliseconds."
                    examples:
                      - 1750732453635
                  errorCode:
                    type: string
                    description: "Error code returned if the request fails. Empty if the request is successful."
                    examples:
                      - ""
                  errorDescription:
                    type: string
                    description: "Description of the error. Empty if the request is successful."
                    examples:
                      - ""
                  success:
                    type: boolean
                    description: "`true` if the request is successful."
                    examples:
                      - true
                required:
                  - data
                  - traceId
                  - timestamp
                  - errorCode
                  - errorDescription
                  - success
                  - creditsUsed
                  - creditsAvailable
        "400":
          description: Validation error.
          content:
            application/json:
              schema:
                type: object
                title: ValidationErrorResponse
                properties:
                  success:
                    const: false
                  error:
                    type: string
                  message:
                    type: string
                  timestamp:
                    type: integer
                required:
                  - success
                  - error
                  - message
                  - timestamp
              examples:
                invalid date range:
                  summary: Date range exceeds 365 days
                  value:
                    success: false
                    error: "VALIDATION_ERROR"
                    message: "The 'start' and 'end' date range cannot exceed 365 days."
                    timestamp: 1770099403116
        "429":
          description: Exceeded quota or rate limit.
          content:
            application/json:
              schema:
                type: object
                title: QuotaErrorResponse
                properties:
                  success:
                    const: false
                  error:
                    type: string
                  message:
                    type: string
                  remainingPlanCredit:
                    type: number
                required:
                  - success
                  - error
                  - message
                  - remainingPlanCredit
              examples:
                rate limited:
                  summary: Rate limit exceeded
                  value:
                    success: false
                    error: "RATE_LIMIT_EXCEEDED"
                    message: "Too many requests. Please try again later."
                quota exceeded:
                  summary: Credit quota exceeded
                  value:
                    success: false
                    error: "QUOTA_EXCEEDED"
                    message: "Not enough credits to complete this request."
      security:
        - ApiKeyAuth: []
      servers:
        - url: "https://apiv3.creatordb.app"
          description: Production Environment (CreatorDB Headless API V3)
  #YouTube
  # Natural language search (unified, cross-platform)
  /nls:
    post:
      tags:
        - Natural Language Search
      summary: Search Creators Using Natural Language
      description: >-
        Search for creators across YouTube, Instagram, and TikTok using natural language descriptions.
        The AI determines the appropriate platform from your query and converts it into structured search filters.
        Results are delivered via Server-Sent Events (SSE) streaming.
      operationId: getNLS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Natural language search parameters.
              properties:
                description:
                  type: string
                  description: A natural language description of the creators you are looking for.
                  minLength: 1
                  maxLength: 1000
                  example: "Find US-based YouTube beauty creators that own makeup brands and have more than 15 million subscribers"
              required:
                - description
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl -X POST "https://apiv3.creatordb.app/nls" \
              -H "Content-Type: application/json" \
              -H "api-key: <YOUR_API_KEY>" \
              -d '{
                "description": "Find US-based YouTube beauty creators that own makeup brands and have more than 15 million subscribers"
              }'
        - lang: python
          label: Python
          source: |
            import requests

            url = "https://apiv3.creatordb.app/nls"

            payload = { "description": "Find US-based YouTube beauty creators that own makeup brands and have more than 15 million subscribers" }
            headers = {
                "api-key": "<api-key>",
                "Content-Type": "application/json"
            }

            response = requests.post(url, json=payload, headers=headers, stream=True)

            for line in response.iter_lines(decode_unicode=True):
                print(line)
      responses:
        "200":
          description: >-
            NLS results are delivered via Server-Sent Events (SSE). The stream emits multiple `event: progress` messages with status updates (e.g., `{"message":"Loading..."}`, `{"message":"Analyzing intent..."}`, `{"message":"Query ready..."}`), followed by a final `event: result` containing the response object shown below. Connect using an SSE-capable client or `stream=True` in your HTTP library.
          content:
            text/event-stream:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      creatorList:
                        type: array
                        description: Matching creators. Present when the query returns results.
                        items:
                          type: object
                          properties:
                            displayName:
                              type: string
                              description: The creator display name.
                            uniqueId:
                              type: string
                              description: The creator handle.
                            channelId:
                              type: string
                              description: YouTube channel ID (YouTube results only).
                            avatarUrl:
                              type: string
                              description: Profile picture URL.
                            totalSubscribers:
                              type: integer
                              description: Subscriber count (YouTube results).
                            totalFollowers:
                              type: integer
                              description: Follower count (Instagram and TikTok results).
                      platform:
                        type: string
                        description: The platform detected from the query.
                        enum:
                          - youtube
                          - instagram
                          - tiktok
                      message:
                        type: string
                        description: Explanation when the query is too broad (suggestion response).
                      suggestion:
                        type: array
                        items:
                          type: string
                        description: Refined query suggestions when the original query is too broad.
                  creditsUsed:
                    type: number
                    description: Credits consumed for this request (dynamic, based on token usage).
                    examples:
                      - 3.04
                  creditsAvailable:
                    type: number
                    description: Remaining available credits.
                    examples:
                      - 2627.89
                  traceId:
                    type: string
                    description: Unique identifier for the request.
                    examples:
                      - "6ddf6c22a7a84b83e9a98f70a06e6235"
                  timestamp:
                    type: integer
                    description: Time the response was generated (Unix timestamp in milliseconds).
                    examples:
                      - 1774586488186
                  errorCode:
                    type: string
                    description: Error code if the request fails. Empty on success.
                    examples:
                      - ""
                  errorDescription:
                    type: string
                    description: Error description if the request fails. Empty on success.
                    examples:
                      - ""
                  success:
                    type: boolean
                    description: Whether the request completed successfully.
                    examples:
                      - true
                required:
                  - data
                  - traceId
                  - timestamp
                  - errorCode
                  - errorDescription
                  - success
                  - creditsUsed
                  - creditsAvailable
              examples:
                default:
                  summary: SSE stream with progress events and final result
                  value:
                    - event: progress
                      data:
                        message: "Loading..."
                    - event: progress
                      data:
                        message: "Query validated..."
                    - event: progress
                      data:
                        message: "Analyzing intent..."
                    - event: progress
                      data:
                        message: "Processing request..."
                    - event: progress
                      data:
                        message: "Identifying filters..."
                    - event: progress
                      data:
                        message: "Working on it..."
                    - event: progress
                      data:
                        message: "Getting the right filters..."
                    - event: progress
                      data:
                        message: "Analysis complete..."
                    - event: progress
                      data:
                        message: "Putting it all together..."
                    - event: progress
                      data:
                        message: "Building query..."
                    - event: progress
                      data:
                        message: "Query ready..."
                    - event: result
                      data:
                        creatorList:
                          - displayName: YouTube
                            uniqueId: "@youtube"
                            channelId: "UCBR8-60-B28hp2BmDPdntcQ"
                            avatarUrl: "https://yt3.googleusercontent.com/3s6evpqAiDU9tQR4sC2siJippbH2RWVPnwHgyl4V0th2iuQz0VDQZbUhQBGmsxLYo-mjG6TqZQ=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 45000000
                          - displayName: 5-Minute Crafts DIY
                            uniqueId: "@5minutecraftsdiy"
                            channelId: "UC2etEuPIfohP4P53wM0KImA"
                            avatarUrl: "https://yt3.googleusercontent.com/dpw85Qj9vAdE4iX_yr0wUcoZkuBZqPBrlovIkePsgOzmywZdQeJpUQARG1to6mEEeqmUQlMtR-o=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 20100000
                          - displayName: 5-Minute Crafts FAMILY
                            uniqueId: "@5minutecraftsfamily"
                            channelId: "UC63mNFJR8EAb8wAIJwoCmTA"
                            avatarUrl: "https://yt3.googleusercontent.com/jPrniMECPSuIG45SMTj4VlCxtYqQ4E4RqnZIPxJPPhm_mb1ZHV2X0MFwCh3X6R_3lLvIooVxbNE=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 15800000
                          - displayName: Kids Diana Show
                            uniqueId: "@kidsdianashow"
                            channelId: "UCk8GzjMOrta8yxDcKfylJYw"
                            avatarUrl: "https://yt3.googleusercontent.com/G88LBGqFoBWMos0glZEdCvQ7uEMPnhBYsPRMOFX5b5z6tuqWaD6ZcscslaKu0zLO37v8sMUA=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 138000000
                          - displayName: Maria Clara & JP
                            uniqueId: "@mariaclaraejp"
                            channelId: "UCKe6w0exI94U-RzqAyoY1VA"
                            avatarUrl: "https://yt3.googleusercontent.com/ytc/AIdro_n8EDt3qdYql9Dt6WAZDlb_7Af8wIukpc3h3cAbCptHNUg=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 50200000
                          - displayName: Mr DegrEE
                            uniqueId: "@mrdegreeofficial"
                            channelId: "UCeYTfGpNCmVhlxjQxBDrGPA"
                            avatarUrl: "https://yt3.googleusercontent.com/ytc/AIdro_k8LXkXtQX2Skbr0NZ2jzNO-_j-Bu2T80hWwDUs3eL2ZCg=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 40400000
                          - displayName: SMOL
                            uniqueId: "@smol_official"
                            channelId: "UCBBZ7No0AzEJ3qiatjSa-mg"
                            avatarUrl: "https://yt3.googleusercontent.com/QSq4dqpufwELLxjadoLE8CghxJ12tfu4vGUM8t2YiwztzAyYtPvSKN59nH_lEd02vPQfnQ3L2Q=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 27200000
                          - displayName: Fabiosa Best Lifehacks
                            uniqueId: "@fabiosabestlifehacks"
                            channelId: "UCF5Rp2ghzXsX6vwYqa7aepg"
                            avatarUrl: "https://yt3.googleusercontent.com/g9YIHarU8-wUSH5lnFRNg9e9RBT9EHv21rlP7r10lHwmpALsDzt-jiSkVzBxTUyDBQjK3Hz1hA=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 25900000
                          - displayName: James Charles
                            uniqueId: "@jamescharles"
                            channelId: "UCucot-Zp428OwkyRm2I7v2Q"
                            avatarUrl: "https://yt3.googleusercontent.com/6WC8rRE_1ME7Sza7y-Z75g_wGahOKlyRevH2hOE9DNMrHM37ZYCmNGBnJpJWqhUpy0-c05xQcjk=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 23900000
                          - displayName: Troom Troom
                            uniqueId: "@troomtroom"
                            channelId: "UCWwqHwqLSrdWMgp5DZG5Dzg"
                            avatarUrl: "https://yt3.googleusercontent.com/KxkUWubksdvmkXC6dKk_JuJF40McZgmDYWcclmNJHAuhDnZGpVA9-sdW75q9MTCZ-NE2z3yBfY0=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 23800000
                          - displayName: Marusya Outdoors
                            uniqueId: "@marusya_outdoors"
                            channelId: "UCRR3vpGoVKF3q_vZI7mCfjQ"
                            avatarUrl: "https://yt3.googleusercontent.com/JNVo_OhRKlrCe4lTIehltRomjHGhAwADSeliVky8KSpwqfeaZ2Y7QCCUiOPVIfFt6XLzCwNE=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 20600000
                          - displayName: Dr Ryan
                            uniqueId: "@itsdrryan"
                            channelId: "UC26FEMwAAjj8jfNbuVdFMBQ"
                            avatarUrl: "https://yt3.googleusercontent.com/8XsSINxf0myiTvCb-KByq8eLOQMDg7en6Mxdap1YlbddXyvyBypr5lCaSi98KJhSOCwD9z5gxQ=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 20000000
                          - displayName: VICE
                            uniqueId: "@vice"
                            channelId: "UCn8zNIfYAQNdrFRrr8oibKw"
                            avatarUrl: "https://yt3.googleusercontent.com/9AgWUnohXk3gFYvmvAZemlr1q6yd7NxHozeEqrPpJhYf9Crjrvqml0ulZ4PL4v38I4XDoLEhaw=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 19100000
                          - displayName: Crafty Panda
                            uniqueId: "@craftypanda"
                            channelId: "UC03RvJoIhm_fMwlUpm9ZvFw"
                            avatarUrl: "https://yt3.googleusercontent.com/ytc/AIdro_kI-gjxVAiZh-LDX0ayqKKSQL-qIxrCG7qi3Q2IQNeTamk=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 19000000
                          - displayName: Ray William Johnson
                            uniqueId: "@raywilliamjohnson"
                            channelId: "UCGt7X90Au6BV8rf49BiM6Dg"
                            avatarUrl: "https://yt3.googleusercontent.com/y_myu5CoUFndBkJ5sZFCiSoi-rM6UY-x-Wog6C7nl_6pgXt9M0Z-YPfVCHSvIYS5PlyRidhE=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 18700000
                          - displayName: JULIA GISELLA
                            uniqueId: "@juliagisella"
                            channelId: "UCCPsBYxLUykj5xbgOGTRzKQ"
                            avatarUrl: "https://yt3.googleusercontent.com/2n0OZs6fyMF6lvszolH4Pe5s-4koRhrWR7R2julWoeKwnAsLgUTS_6COm0CnGzuf5vIhLvepsNw=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 18100000
                          - displayName: Jennifer Lopez
                            uniqueId: "@jenniferlopez"
                            channelId: "UCr8RjWUQ_9KYcIPmWiqBroQ"
                            avatarUrl: "https://yt3.googleusercontent.com/u0IEPhk-hqU3pbeBNAPf5EQRwQs2mnT1-3rRQaGt3pXhf6lhQgFk3j6LQfupRNV0iYIU4BeIQJw=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 17500000
                          - displayName: Vogue
                            uniqueId: "@vogue"
                            channelId: "UCRXiA3h1no_PFkb1JCP0yMA"
                            avatarUrl: "https://yt3.googleusercontent.com/pjWEB6VpO5GmzI7aGg6pAjkNSdLf75LKoUXmmj2HAs1Fq1V1zlcevvR4hf7J9VtV7fYxaYJHS8g=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 16200000
                          - displayName: MrBeast
                            uniqueId: "@mrbeast"
                            channelId: "UCX6OQ3DkcsbYNE6H8uQQuVA"
                            avatarUrl: "https://yt3.googleusercontent.com/nxYrc_1_2f77DoBadyxMTmv7ZpRZapHR5jbuYe7PlPd5cIRJxtNNEYyOC0ZsxaDyJJzXrnJiuDE=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 473000000
                          - displayName: "Alan's Universe"
                            uniqueId: "@alanchikinchow"
                            channelId: "UC5gxP-2QqIh_09djvlm9Xcg"
                            avatarUrl: "https://yt3.googleusercontent.com/QYrADJNN_BMJSYm0LkqAs13ehWHjtxITE7kSBPsEIB_I_VFeDvujpH4aJfHfJO3FsFMsYa6Oig=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers: 100000000
                        platform: youtube
                      traceId: "6ddf6c22a7a84b83e9a98f70a06e6235"
                      timestamp: 1774586488186
                      creditsAvailable: 2627.89
                      creditsUsed: 3.04
                      errorCode: ""
                      errorDescription: ""
                      success: true
        "400":
          description: Validation error.
          content:
            application/json:
              schema:
                type: object
                title: ValidationErrorResponse
                properties:
                  success:
                    const: false
                  error:
                    type: string
                  message:
                    type: string
                  timestamp:
                    type: integer
                required:
                  - success
                  - error
                  - message
                  - timestamp
              examples:
                missing description:
                  summary: Missing description field
                  value:
                    success: false
                    error: "VALIDATION_ERROR"
                    message: "Missing required field: 'description'."
                    timestamp: 1770099403116
                description too long:
                  summary: Description exceeds 1000 characters
                  value:
                    success: false
                    error: "VALIDATION_ERROR"
                    message: "The 'description' field must be between 1 and 1000 characters."
                    timestamp: 1770099403116
        "429":
          description: Exceeded quota or rate limit.
          content:
            application/json:
              schema:
                type: object
                title: QuotaErrorResponse
                properties:
                  success:
                    const: false
                  error:
                    type: string
                  message:
                    type: string
                  remainingPlanCredit:
                    type: number
                required:
                  - success
                  - error
                  - message
                  - remainingPlanCredit
              examples:
                rate limit:
                  summary: Rate limit exceeded
                  value:
                    success: false
                    error: "RATE_LIMIT_EXCEEDED"
                    message: "Too many requests. Please try again later."
                quota exceeded:
                  summary: Credit quota exceeded
                  value:
                    success: false
                    error: "QUOTA_EXCEEDED"
                    message: "Not enough credits to complete this request."
      security:
        - ApiKeyAuth: []
      servers:
        - url: "https://apiv3.creatordb.app"
          description: Production Environment (CreatorDB Headless API V3)

  #YouTube custom filter search
  /youtube/search:
    post:
      tags:
        - YouTube
      summary: Search YouTube Based on Custom Filter Criteria
      description: "Search for YouTube creators using advanced filters such as `displayName`, subscriber count, video performance, and more. Supports fuzzy search, pagination, and multiple filter combinations with up to 10 filters per request. The `creatorList` is, by default, sorted by `displayName`. Custom sorting can be applied using the `sortBy` parameter."
      operationId: searchYoutube
      requestBody:
        content:
          application/json:
            schema:
              type: object
              description: "YouTube search request parameters."
              properties:
                filters:
                  type: array
                  description: "Filter objects that include `filterName`, `op`, and `value`. For all accepted `filterName` values and their data types, see [Configuring Custom Search Filters and Examples](http://docs.creatordb.app/api-v3/configuring_advanced_search_filters#available-filtername-&-sortby). You can combine up to 10 filters per request to narrow search results."
                  maxItems: 10
                  items:
                    type: object
                    properties:
                      filterName:
                        type: string
                        description: "The field to apply the filter on."
                      op:
                        type: string
                        enum:
                          - in
                          - ">"
                          - "="
                          - "<"
                        description: "The comparison operator. Accepted values include: `in`, `>`, `=`, `<`. <br /> - String fields accept: `=`, `in`. <br /> - Number fields accept: `>`, `=`, `<`. <br /> - Boolean fields accept: `=` "
                      value:
                        description: "Type depends on the `filterName`. <br /> - String fields accept `string` or `string[]`. <br /> - Number fields accept `number`. <br /> - Boolean fields accept `boolean`. <br /> - Operator `in` accepts `string[]`, operator `=` accepts string for `string` fields."
                        anyOf:
                          - type: string
                          - type: number
                          - type: array
                            maxItems: 100
                            items:
                              type: string
                          - type: boolean
                      isFuzzySearch:
                        type: boolean
                        description: "When `true`, performs a fuzzy match for `string` type `filterName`."
                        default: false
                    required:
                      - filterName
                      - op
                      - value
                desc:
                  type: boolean
                  description: "Sort order for results. `true` for descending, `false` for ascending order."
                sortBy:
                  type: string
                  description: "The field to sort results by. For example, `totalSubscribers` sorts by subscriber count."
                pageSize:  
                  type: integer
                  description: "Specifies the maximum number of results to return in a single response. The upper limit is 100."
                  minimum: 1
                  maximum: 100
                offset:
                  type: integer
                  description: "Indicates the number of records to skip before returning results. Used for pagination."
                  minimum: 0
              required:
                - filters
                - pageSize
                - offset
              examples:
                - filters:
                    - filterName: displayName
                      op: "="
                      value: beast
                      isFuzzySearch: true
                  desc: true
                  sortBy: displayName
                  pageSize: 10
                  offset: 0
            examples:
              default:
                value:
                  filters:
                    - filterName: totalSubscribers
                      op: ">"
                      value: 1000000
                      isFuzzySearch: true
                  desc: true
                  sortBy: displayName
                  pageSize: 10
                  offset: 0
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl -X POST "https://apiv3.creatordb.app/youtube/search" \
              -H "Content-Type: application/json" \
              -H "api-key: <YOUR_API-KEY_HERE>" \
              -d '{
                "filters":[
                {
                  "filterName":
                    "totalSubscribers",
                    "op":">",
                    "value":1000000
                }
                ],
                "pageSize":10,
                "offset":0
                }'
      responses:
        "200":
          description: YouTube search results returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Search results containing YouTube creators and pagination information.
                    properties:
                      creatorList:
                        type: array
                        description: Creator objects matching the search query.
                        items:
                          type: object
                          description: Creator details in search results.
                          properties:
                            displayName:
                              type: string
                              description: The YouTube channel name.
                              examples:
                                - YouTube
                            uniqueId:
                              type: string
                              description: The YouTube handle.
                              examples:
                                - "@youtube"
                            channelId:
                              type: string
                              description: The unique YouTube channel ID.
                              examples:
                                - UCBR8-60-B28hp2BmDPdntcQ
                            avatarUrl:
                              type: string
                              description: The profile picture URL.
                              examples:
                                - "https://yt3.googleusercontent.com/7cF22TRiceqQr2Cro_X4uhRVnwCdOa2HXiwdBGPnUEqJDuCyr2CykDfDw2rCWjbjaHEdTMUC=s900-c-k-c0x00ffffff-no-rj"
                            totalSubscribers:
                              type: integer
                              description: Total number of subscribers.
                              minimum: 0
                              examples:
                                - 13900000
                          required:
                            - displayName
                            - uniqueId
                            - channelId
                            - avatarUrl
                            - totalSubscribers
                      hasNextPage:
                        type: boolean
                        description: "`true` if there is a next page of results."
                        examples:
                          - true
                      nextOffset:
                        type: integer
                        description: The offset value for retrieving the next page of results.
                        minimum: 0
                        examples:
                          - 100
                    required:
                      - creatorList
                      - hasNextPage
                      - nextOffset
                  creditsUsed:
                    type: integer
                    description: Number of API credits consumed by this request.
                    examples:
                      - 1
                  creditsAvailable:
                    type: integer
                    description: "Number of API credits remaining. Returns `-1` if the quota is unlimited."
                    examples:
                      - -1
                  traceId:
                    type: string
                    description: Unique trace ID for each request.
                    examples:
                      - f8e4a3b2c1d0e9f8a7b6c5d4e3f2a1b0
                  timestamp:
                    type: integer
                    description: "Time the response was generated, represented as a Unix timestamp in milliseconds."
                    examples:
                      - 1750732453635
                  errorCode:
                    type: string
                    description: Error code returned if the request fails. Empty if the request is successful.
                    examples:
                      - ""
                  errorDescription:
                    type: string
                    description: Description of the error. Empty if the request is successful.
                    examples:
                      - ""
                  success:
                    type: boolean
                    description: "`true` if the request is successful."
                    examples:
                      - true
                required:
                  - data
                  - traceId
                  - timestamp
                  - errorCode
                  - errorDescription
                  - success
                  - creditsUsed
                  - creditsAvailable
              examples:
                default:
                  value:
                    data:
                      creatorList:
                        - displayName: 🪐🌍Gallivud_prod
                          uniqueId: "@gallivud_prod"
                          channelId: UCMS8ONu5i0tKTyZ4_lLD1DA
                          avatarUrl: "https://yt3.googleusercontent.com/geeG3ok-_7PzCBlXDEW8Ro2m0QNl_XRH4AekEVvPqBhgmrFJbn2iKzn06lSnI2GnkybvaJY7=s900-c-k-c0x00ffffff-no-rj"
                          totalSubscribers: 1400000
                        - displayName: 🪐MILENA MARS🪐
                          uniqueId: "@milenamars"
                          channelId: UCjTWFYn4s7fzsonX3Jtw_Ig
                          avatarUrl: "https://yt3.googleusercontent.com/kFfAtp8wQM5wTqRzFn1wiZWdcJ5atGU1u-BnzpadbVFQJBThObAYNZTxsagdHnzW5m79G5A4pg=s900-c-k-c0x00ffffff-no-rj"
                          totalSubscribers: 2170000
                        - displayName: 🩷La Barbie Jimenez 🩷
                          uniqueId: "@labarbiejimenez"
                          channelId: UC2Z5u_Azat1RoqK-7-Sy4Tg
                          avatarUrl: "https://yt3.googleusercontent.com/h6_4n7pOk4AAn93qpxZl0abQZjYtg4PtzxXnsPO3l4wF7p3d8271Q_F_TqeUDsvuQKA6aIPaxYo=s900-c-k-c0x00ffffff-no-rj"
                          totalSubscribers: 1050000
                        - displayName: "🦋wishkhanna_🦋"
                          uniqueId: "@wishkhanna____"
                          channelId: UC32P0rFNpMhz97Oast8Mdgg
                          avatarUrl: "https://yt3.googleusercontent.com/rubd3-FNnl6pEpm5po_t6J67FE0IV_p452ujgAlxs1QITLGzi-nObStp06dbR3Qz96RJ5gm1=s900-c-k-c0x00ffffff-no-rj"
                          totalSubscribers: 1450000
                        - displayName: 🥜𝐀𝐧𝐲𝐚 𝐂𝐡𝐚𝐧🥜
                          uniqueId: "@yandere79"
                          channelId: UCVYsu-OqwXh9wF9eHERXcNg
                          avatarUrl: "https://yt3.googleusercontent.com/kOFqPM33m-b9YLSSjS499UciWpwZMJ0-MLmTjycnBUoGr3OCF2-yH8lMrT4VDgi4XznVX7TA9w=s900-c-k-c0x00ffffff-no-rj"
                          totalSubscribers: 2250000
                        - displayName: 🤍cloudy express 🤍
                          uniqueId: "@cloudyexpress-cb3pf"
                          channelId: UCo7-sHv2yP_tk2FFbfwmILQ
                          avatarUrl: "https://yt3.googleusercontent.com/c5pVxWtJhkU12B3D_MS_pfEV-9wpwyxsCHHrOLP67tEQgAf5uNwreDaPHxIqIqS81LIRbjX8w8A=s900-c-k-c0x00ffffff-no-rj"
                          totalSubscribers: 1030000
                        - displayName: 🙏Jay shri shyam🙏
                          uniqueId: "@bhaktisagar609"
                          channelId: UC2e-a4J25uO7Vqdz5s9D39w
                          avatarUrl: "https://yt3.googleusercontent.com/1onewDKzTDXArcN-SSOogr_-eGczRvnWi2jlcxMGaxSJq9e8DDMgFwfs7BpaXogQwfFt2Cm3=s900-c-k-c0x00ffffff-no-rj"
                          totalSubscribers: 1810000
                        - displayName: 🙏 Pray Together 🙏
                          uniqueId: "@frastefano"
                          channelId: UCEISS2bKsVnyvPSGvK-q_mg
                          avatarUrl: "https://yt3.googleusercontent.com/lqbSpiP1yWva-3v1pbFlZ--tVLaQJuCwGP1vvoAi75-w-VqJe0QDzUxqtfwUfE25Qem15nxy3w=s900-c-k-c0x00ffffff-no-rj"
                          totalSubscribers: 1270000
                        - displayName: 🖤BRK
                          uniqueId: "@mr.say3ed"
                          channelId: UCCQ7XwHCZetFk0zJWadP1Ww
                          avatarUrl: "https://yt3.googleusercontent.com/kr5zTRyltQF-7K7iCIiB9iMV1wOmvpRPYvUeIqa_KdxmzRwAe_FdEiS7heUG7bTJLibMP7HHUg=s900-c-k-c0x00ffffff-no-rj"
                          totalSubscribers: 1160000
                        - displayName: 🖤 everytime BTS 🖤
                          uniqueId: "@everytimebts2517"
                          channelId: UCEi2lZb1oSZ7tDP5vi4U9tg
                          avatarUrl: "https://yt3.googleusercontent.com/YGNUzzRXD7hvz6Swqgs-NR7sZGiuKodJr15sLdf4tYPMyVXvw3M2ZTN9RJ3psNn5sHmJ3dhxxw=s900-c-k-c0x00ffffff-no-rj"
                          totalSubscribers: 1110000
                    hasNextPage: true
                    nextOffset: 10
                    creditsUsed: 1
                    creditsAvailable: -1
                    traceId: "f3430ba969f51fc42d633cb4fd00f86d"
                    timestamp: 1767923571340
                    errorCode: ""
                    errorDescription: ""
                    success: true
        "400":
          description: Validation error.
          content:
            application/json:
              schema:
                type: object
                title: ValidationErrorResponse
                properties:
                  success:
                    const: false
                  error:
                    type: string
                  message:
                    type: string
                  timestamp:
                    type: integer
                required:
                  - success
                  - error
                  - message
                  - timestamp
              examples:
                missing filters:
                  summary: Missing filters field
                  value:
                    success: false
                    error: "VALIDATION_ERROR"
                    message: "At least 1 filter object is required."
                    timestamp: 1770099403116
                invalid filterName:
                  summary: Invalid filterName
                  value:
                    success: false
                    error: "VALIDATION_ERROR"
                    message: "Invalid 'filterName' for YouTube. For accepted values, see: https://docs.creatordb.app/api-v3/configuring_advanced_search_filters#configuring-filters-for-youtube-advanced-search."
                    timestamp: 1770099403116
                invalid pageSize:
                  summary: pageSize exceeds upper limit
                  value:
                    success: false
                    error: "VALIDATION_ERROR"
                    message: "Exceeded max pageSize of 100. Must be between 1 and 100."
                    timestamp: 1770099403116
        "429":
          description: Exceeded quota or rate limit.
          content:
            application/json:
              schema:
                type: object
                title: QuotaErrorResponse
                properties:
                  success:
                    const: false
                  error:
                    type: string
                  message:
                    type: string
                  remainingPlanCredit:
                    type: number
                required:
                  - success
                  - error
                  - message
                  - remainingPlanCredit
              examples:
                rate limit:
                  summary: Rate limit exceeded
                  value:
                    success: false
                    error: "RATE_LIMIT_EXCEEDED"
                    message: "Too many requests. Please try again later."
                quota exceeded:
                  summary: Credit quota exceeded
                  value:
                    success: false
                    error: "QUOTA_EXCEEDED"
                    message: "Not enough credits to complete this request."
      security:
        - ApiKeyAuth: []
      servers:
        - url: "https://apiv3.creatordb.app"
          description: Production Environment (CreatorDB Headless API V3)
  # YouTube creator profile
  /youtube/profile:
    get:
      tags:
        - YouTube
      summary: Get YouTube Profile Information
      description: "Retrieve the profile information of a specified YouTube creator, including metadata such as subscriber count, account type, language, hashtags, and more."
      operationId: getYoutubeProfile
      parameters:
        - name: channelId
          in: query
          description: The unique YouTube channel ID.
          required: true
          schema:
            type: string
            pattern: "^UC[a-zA-Z0-9_-]{22}$"
            minLength: 1
            maxLength: 50
            examples:
              - "UCX6OQ3DkcsbYNE6H8uQQuVA"
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl -X GET "https://apiv3.creatordb.app/youtube/profile?channelId=UCsTcErHg8oDvUnTzoqsYeNw" \
              -H "Content-Type: application/json" \
              -H "api-key: <YOUR_API-KEY_HERE>"
      responses:
        "200":
          description: YouTube creator profile information returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: "Profile information of the specified YouTube creator."
                    properties:
                      channelId:
                        type: string
                        description: The unique YouTube channel ID.
                        examples:
                          - UCBR8-60-B28hp2BmDPdntcQ
                      uniqueId:
                        type: string
                        description: The YouTube handle.
                        examples:
                          - "@youtube"
                      displayName:
                        type: string
                        description: The YouTube channel name.
                        examples:
                          - YouTube
                      categoryBreakdown:
                        type: array
                        description: Distribution of the creator's content by category.
                        items:
                          type: object
                          properties:
                            category:
                              type: string
                              examples:
                                - Gaming
                            share:
                              type: number
                              examples:
                                - 0.3241
                          required:
                            - category
                            - share
                      avatarUrl:
                        type: string
                        description: The profile picture URL.
                        examples:
                          - "https://yt3.googleusercontent.com/7cF22TRiceqQr2Cro_X4uhRVnwCdOa2HXiwdBGPnUEqJDuCyr2CykDfDw2rCWjbjaHEdTMUC=s900-c-k-c0x00ffffff-no-rj"
                      bio:
                        type: string
                        description: The profile biography.
                        examples:
                          - The Most Botted Channel EVER
                      isVerified:
                        type: boolean
                        description: "`true` if the account is verified by YouTube."
                        examples:
                          - true
                      hasSponsors:
                        type: boolean
                        description: "`true` if there is sponsored content."
                        examples:
                          - true
                      hasMemberOnlyContents:
                        type: boolean
                        description: "`true` if there is member-only content."
                        examples:
                          - true
                      country:
                        type: string
                        description: "The country represented in **ISO 3166-1 alpha-3** format. For the country code list, see [here](https://docs.creatordb.app/api-v2/country-code)."
                        examples:
                          - TWN
                      mainLanguage:
                        type: string
                        description: "The primary language used in contents, represented in **ISO 639-3** format. For language code list, see [here](https://docs.creatordb.app/api-v3/language-code)."
                        examples:
                          - zht
                      languages:
                        type: array
                        description: "All languages used in contents, represented in **ISO 639-3** format. For language code list, see [here](https://docs.creatordb.app/api-v3/language-code)."
                        examples:
                          - - zht
                            - eng
                        items:
                          type: string
                      secondLanguage:
                        type: string
                        description: "The secondary language used in YouTube contents, represented in **ISO 639-3** format. For language code list, see [here](https://docs.creatordb.app/api-v3/language-code)."
                        examples:
                          - eng
                      totalContents:
                        type: integer
                        description: "Total number of videos and shorts."
                        minimum: 0
                        examples:
                          - 399
                      totalSubscribers:
                        type: integer
                        description: Total number of subscribers.
                        minimum: 0
                        examples:
                          - 13900000
                      subscriberGrowth:
                        type: object
                        description: "Subscriber growth metrics over 7, 30, and 90-day periods."
                        properties:
                          g7:
                            type: number
                            description: "Subscriber growth over 7 days, rounded to 4th decimal place."
                            examples:
                              - 0.1234
                          g30:
                            type: number
                            description: "Subscriber growth over 30 days, rounded to 4th decimal place."
                            examples:
                              - 0.2345
                          g90:
                            type: number
                            description: "Subscriber growth over 90 days, rounded to 4th decimal place."
                            examples:
                              - 0.3456
                        required:
                          - g7
                          - g30
                          - g90
                      hashtags:
                        type: array
                        description: Hashtags in YouTube content and related statistics.
                        maxItems: 100
                        items:
                          type: object
                          description: Hashtag information and usage statistics.
                          properties:
                            name:
                              type: string
                              description: Keywords used in video captions or descriptions.
                              examples:
                                - "#starrailsimulator"
                            contentCount:
                              type: integer
                              description: Number of videos and shorts using the hashtag.
                              minimum: 0
                              examples:
                                - 250
                          required:
                            - name
                            - contentCount
                      topics:
                        type: array
                        description: "Content subcategories generated by CreatorDB's AI model that classifies creators into about 400 dynamic themes based on their content."
                        examples:
                          - - id_freegames_Gaming
                        items:
                          type: string
                      niches:
                        type: array
                        description: "Granular subcategories of content topics identified by CreatorDB's AI model, which analyzes and groups keywords, hashtags, and tags used by creators."
                        examples:
                          - - id_roblox_Gaming
                        items:
                          type: string
                      otherLinks:
                        type: array
                        description: Linked websites.
                        items:
                          type: object
                          description: Information of external platform links.
                          properties:
                            title:
                              type: string
                              description: The link name.
                              examples:
                                - Instagram
                            url:
                              type: string
                              description: URL of the social media profile page.
                              format: uri
                              examples:
                                - "https://www.instagram.com/instagram"
                          required:
                            - title
                            - url
                      lastPublishTime:
                        type: integer
                        description: "Upload time of the last uploaded content, represented as a Unix timestamp in milliseconds."
                        examples:
                          - 1755142212000
                      relatedCreators:
                        type: array
                        description: "Creators recommended by YouTube, returned as YouTube channel IDs."
                        examples:
                          - - UCBR8-60-B28hp2BmDPdntcQ
                            - UC4PooiX37Pld1T8J5SYT-SQ
                        items:
                          type: string
                      videoPrice:
                        type: object
                        description: "Estimated video prices, including Cost Per Mille (CPM) and per-video rate ranges."
                        properties:
                          cpmLow:
                            type: number
                            description: Lower bound of the estimated Cost Per Mille (CPM) range.
                            minimum: 0
                            examples:
                              - 5.5
                          cpmRaw:
                            type: number
                            description: Estimated average Cost Per Mille (CPM).
                            minimum: 0
                            examples:
                              - 8.2
                          cpmHigh:
                            type: number
                            description: Upper bound of the estimated Cost Per Mille (CPM) range.
                            minimum: 0
                            examples:
                              - 12
                          priceLow:
                            type: number
                            description: Lower bound of the estimated media value for a single piece of content.
                            minimum: 0
                            examples:
                              - 1000
                          priceRaw:
                            type: number
                            description: Estimated media value for a single piece of content.
                            minimum: 0
                            examples:
                              - 1500
                          priceHigh:
                            type: number
                            description: Upper bound of the estimated media value for a single piece of content.
                            minimum: 0
                            examples:
                              - 2200
                        required:
                          - cpmLow
                          - cpmRaw
                          - cpmHigh
                          - priceLow
                          - priceRaw
                          - priceHigh
                        examples:
                          - cpmLow: 5.5
                            cpmRaw: 8.2
                            cpmHigh: 12
                            priceLow: 1000
                            priceRaw: 1500
                            priceHigh: 2200
                      shortsPrice:
                        type: object
                        description: "Estimated YouTube Shorts prices, including CPM and per-video rate ranges."
                        properties:
                          cpmLow:
                            type: number
                            description: Lower bound of the estimated Cost Per Mille (CPM) range.
                            minimum: 0
                            examples:
                              - 5.5
                          cpmRaw:
                            type: number
                            description: Estimated average Cost Per Mille (CPM) for the creator.
                            minimum: 0
                            examples:
                              - 8.2
                          cpmHigh:
                            type: number
                            description: Upper bound of the estimated Cost Per Mille (CPM) range.
                            minimum: 0
                            examples:
                              - 12
                          priceLow:
                            type: number
                            description: Lower bound of the estimated media value for a single piece of content.
                            minimum: 0
                            examples:
                              - 1000
                          priceRaw:
                            type: number
                            description: Estimated media value for a single piece of content.
                            minimum: 0
                            examples:
                              - 1500
                          priceHigh:
                            type: number
                            description: Upper bound of the estimated media value for a single piece of content.
                            minimum: 0
                            examples:
                              - 2200
                        required:
                          - cpmLow
                          - cpmRaw
                          - cpmHigh
                          - priceLow
                          - priceRaw
                          - priceHigh
                        examples:
                          - cpmLow: 3
                            cpmRaw: 5
                            cpmHigh: 8
                            priceLow: 500
                            priceRaw: 750
                            priceHigh: 1100
                      lastDbUpdateTime:
                        type: integer
                        description: "Last update time of the creator profile and statistics in the CreatorDB database, represented as a Unix timestamp in milliseconds."
                        examples:
                          - 1753179002000
                    required:
                      - channelId
                      - uniqueId
                      - displayName
                      - categoryBreakdown
                      - avatarUrl
                      - bio
                      - isVerified
                      - hasSponsors
                      - hasMemberOnlyContents
                      - country
                      - mainLanguage
                      - languages
                      - secondLanguage
                      - totalContents
                      - totalSubscribers
                      - subscriberGrowth
                      - hashtags
                      - topics
                      - niches
                      - otherLinks
                      - lastPublishTime
                      - relatedCreators
                      - videoPrice
                      - shortsPrice
                      - lastDbUpdateTime
                  creditsUsed:
                    type: integer
                    description: Number of API credits consumed by this request.
                    examples:
                      - 1
                  creditsAvailable:
                    type: integer
                    description: "Number of API credits remaining. Returns `-1` if the quota is unlimited."
                    examples:
                      - -1
                  traceId:
                    type: string
                    description: Unique trace ID for each request.
                    examples:
                      - f8e4a3b2c1d0e9f8a7b6c5d4e3f2a1b0
                  timestamp:
                    type: integer
                    description: "Time the response was generated, represented as a Unix timestamp in milliseconds."
                    examples:
                      - 1750732453635
                  errorCode:
                    type: string
                    description: Error code returned if the request fails. Empty if the request is successful.
                    examples:
                      - ""
                  errorDescription:
                    type: string
                    description: Description of the error. Empty if the request is successful.
                    examples:
                      - ""
                  success:
                    type: boolean
                    description: "`true` if the request is successful."
                    examples:
                      - true
                required:
                  - data
                  - traceId
                  - timestamp
                  - errorCode
                  - errorDescription
                  - success
                  - creditsUsed
                  - creditsAvailable
              examples:
                default:
                  value:
                    data:
                      channelId: UCsTcErHg8oDvUnTzoqsYeNw
                      uniqueId: "@unboxtherapy"
                      displayName: Unbox Therapy
                      categoryBreakdown:
                        - category: Science & Technology
                          share: 1
                      avatarUrl: >-
                        https://yt3.googleusercontent.com/ytc/AIdro_mrdFKrYUtuMEqVUWPmtKSzy0weSdlawiMI2VPqP9yq1ks=s900-c-k-c0x00ffffff-no-rj
                      bio: >-
                        Where products get naked.


                        Here you will find a variety of videos showcasing the coolest products on
                        the planet. From the newest smartphone to surprising gadgets and technology
                        you never knew existed. It's all here on Unbox Therapy.


                        Business / professional inquiries ONLY - jack [at] unboxtherapy.com

                        (please don't use YouTube inbox)
                      isVerified: true
                      hasSponsors: true
                      hasMemberOnlyContents: false
                      country: ""
                      mainLanguage: eng
                      languages:
                        - eng
                        - ""
                      secondLanguage: ""
                      totalContents: 2476
                      totalSubscribers: 24900000
                      subscriberGrowth:
                        g7: 0.004
                        g30: 0.0122
                        g90: 0.0081
                      hashtags:
                        - name: "#poolcleaner"
                          contentCount: 1
                        - name: "#aiper"
                          contentCount: 1
                        - name: "#seagullpro"
                          contentCount: 1
                        - name: "#insta360"
                          contentCount: 1
                        - name: "#insta360go3"
                          contentCount: 1
                        - name: "#tesla"
                          contentCount: 1
                        - name: "#elonmusk"
                          contentCount: 1
                        - name: "#ev"
                          contentCount: 1
                        - name: "#car"
                          contentCount: 1
                        - name: "#electriccar"
                          contentCount: 1
                        - name: "#cybertruck"
                          contentCount: 1
                        - name: "#elon"
                          contentCount: 1
                        - name: "#cyber"
                          contentCount: 1
                        - name: "#technology"
                          contentCount: 1
                        - name: "#gadgets"
                          contentCount: 1
                        - name: "#tech"
                          contentCount: 1
                        - name: "#gaming"
                          contentCount: 1
                        - name: "#ai"
                          contentCount: 1
                        - name: "#4k"
                          contentCount: 1
                        - name: "#vankyov700w"
                          contentCount: 1
                        - name: "#livehouseprojector"
                          contentCount: 1
                        - name: "#applewatch"
                          contentCount: 1
                        - name: "#smartwatch"
                          contentCount: 1
                        - name: "#apple"
                          contentCount: 1
                        - name: "#iphone"
                          contentCount: 1
                        - name: "#vankyo"
                          contentCount: 1
                        - name: "#enabotebox"
                          contentCount: 1
                        - name: "#ultra"
                          contentCount: 1
                        - name: "#iphone15"
                          contentCount: 1
                        - name: "#promax"
                          contentCount: 1
                        - name: "#timcook"
                          contentCount: 1
                        - name: "#asusrogally"
                          contentCount: 1
                        - name: "#asus"
                          contentCount: 1
                        - name: "#videogames"
                          contentCount: 1
                        - name: "#game"
                          contentCount: 1
                        - name: "#xbox"
                          contentCount: 1
                        - name: "#games"
                          contentCount: 1
                        - name: "#nintendo"
                          contentCount: 1
                        - name: "#esports"
                          contentCount: 1
                        - name: "#steam"
                          contentCount: 1
                        - name: "#steamdeck"
                          contentCount: 1
                        - name: "#battlenet"
                          contentCount: 1
                        - name: "#lightsaber"
                          contentCount: 1
                        - name: "#disney"
                          contentCount: 1
                        - name: "#jedi"
                          contentCount: 1
                        - name: "#themandalorian"
                          contentCount: 1
                        - name: "#darthvader"
                          contentCount: 1
                        - name: "#yoda"
                          contentCount: 1
                        - name: "#lukeskywalker"
                          contentCount: 1
                        - name: "#vivo"
                          contentCount: 1
                        - name: "#vivox90series"
                          contentCount: 1
                        - name: "#vivox90pro"
                          contentCount: 1
                        - name: "#shorts"
                          contentCount: 1
                        - name: "#ironman"
                          contentCount: 1
                        - name: "#marvel"
                          contentCount: 1
                        - name: "#avengers"
                          contentCount: 1
                        - name: "#tonystark"
                          contentCount: 1
                        - name: "#blackpanther"
                          contentCount: 1
                        - name: "#electronics"
                          contentCount: 1
                        - name: "#keyboard"
                          contentCount: 1
                        - name: "#music"
                          contentCount: 1
                        - name: "#mechanicalkeyboard"
                          contentCount: 1
                        - name: "#pcgaming"
                          contentCount: 1
                        - name: "#keyboards"
                          contentCount: 1
                        - name: "#keycaps"
                          contentCount: 1
                        - name: "#gamer"
                          contentCount: 1
                        - name: "#mechanicalkeyboards"
                          contentCount: 1
                        - name: "#gamingkeyboard"
                          contentCount: 1
                        - name: "#customkeyboard"
                          contentCount: 1
                        - name: "#computer"
                          contentCount: 1
                        - name: "#laptop"
                          contentCount: 1
                        - name: "#products"
                          contentCount: 1
                        - name: "#tozox1"
                          contentCount: 1
                        - name: "#lyriq"
                          contentCount: 1
                        - name: "#beiconic"
                          contentCount: 1
                        - name: "#ad"
                          contentCount: 1
                        - name: "#airpods"
                          contentCount: 1
                        - name: "#typec"
                          contentCount: 1
                        - name: "#unboxing"
                          contentCount: 1
                        - name: "#lgultragear"
                          contentCount: 1
                        - name: "#lgultragearoled"
                          contentCount: 1
                        - name: "#gamingmonitor"
                          contentCount: 1
                        - name: "#oledgamingmonitor"
                          contentCount: 1
                        - name: "#oppowimbledon"
                          contentCount: 1
                        - name: "#oraimo"
                          contentCount: 1
                        - name: "#oraimoopencirclet"
                          contentCount: 1
                        - name: "#opencirclet"
                          contentCount: 1
                        - name: "#smartphone"
                          contentCount: 1
                        - name: "#smartphones"
                          contentCount: 1
                        - name: "#batman"
                          contentCount: 1
                        - name: "#joker"
                          contentCount: 1
                        - name: "#android"
                          contentCount: 1
                        - name: "#monsterinside"
                          contentCount: 1
                        - name: "#tablet"
                          contentCount: 1
                        - name: "#3d"
                          contentCount: 1
                        - name: "#spyra"
                          contentCount: 1
                        - name: "#waterblaster"
                          contentCount: 1
                        - name: "#gift"
                          contentCount: 1
                        - name: "#toys"
                          contentCount: 1
                        - name: "#gelblaster"
                          contentCount: 1
                      topics:
                        - id_apple_ScienceTechnology
                        - id_smartphone_ScienceTechnology
                        - id_android_ScienceTechnology
                        - id_smartphone_ScienceTechnology
                        - id_unboxing_UniversalTopics
                        - id_review_UniversalTopics
                        - id_gadget_ScienceTechnology
                        - id_firstlook_ScienceTechnology
                        - id_electrichybridvehicles_AutoVehicles
                      niches:
                        - id_smartphone_ScienceTechnology
                        - id_gadget_ScienceTechnology
                        - id_samsung_ScienceTechnology
                        - id_iphone15_ScienceTechnology
                        - id_technology_ScienceTechnology
                        - id_iphone15promax_ScienceTechnology
                        - id_s23ultra_ScienceTechnology
                        - id_s23_ScienceTechnology
                        - id_tech_ScienceTechnology
                        - id_headphone_ScienceTechnology
                      otherLinks:
                        - title: Twitter
                          url: "https://twitter.com/unboxtherapy"
                        - title: Facebook
                          url: "http://facebook.com/unboxtherapy"
                        - title: Instagram
                          url: "http://instagram.com/unboxtherapy"
                        - title: The Official Website
                          url: "http://www.unboxtherapy.com"
                      lastPublishTime: 1771519500000
                      relatedCreators:
                        - UCEdjL1kbZ0K8nFu519vE5LQ
                        - UCMiJRAwDNSNzuYeN2uWa0pA
                        - UCat6bC0Wrqq9Bcq7EkH_yQw
                        - UCEwxAWaXt-6VVsgq3HZrtSw
                        - UCWFKCr40YwOZQx8FHU_ZqqQ
                        - UCOqLHxtUgG4JjE088iidj2g
                        - UCU5RDMQQEORJplvHC2_RtHA
                        - UCS0DKBnrqNadljxEuQ6QZqA
                        - UCBJycsmduvYEL83R_U4JriQ
                        - UCM11nNeppMvEcmI3kwfT7Vw
                        - UCuhF-BMyIDCILd4QND0VuAw
                        - UCXuqSBlHAE6Xw-yeJA0Tunw
                        - UC2OJvv_LGa54SoCsYJPtQrA
                        - UCdBK94H6oZT2Q7l0-b0xmMg
                        - UCUENouMddvr011UzaBNkB8w
                        - UCCiqMGlSWHNmFZDJA4Thc1Q
                        - UCD_-CQZEcIgmwMA9msp0C2w
                        - UCUQo7nzH1sXVpzL92VesANw
                        - UCRzQysbPOLz5SAXO8uTK50A
                        - UC0bcmAq3kWUgp8W3HcQlUkA
                        - UCPkdOzRWTXeIqCthZUUMvJg
                        - UCeBoFG76S36uI1rSUj98YzA
                        - UCzlXf-yUIaOpOjEjPrOO9TA
                        - UCbNeU6MiUdbzxiv_YK3EjQg
                        - UC6ktP3PLU5sAJxN9Rb0TALg
                        - UCzZOF5BnSi3MSM5AvBQ3vnw
                        - UCYdy92EvOSSgDYm5odItffA
                        - UCCsREoj8rSRkEvxWqxr74rQ
                        - UCB0vtAYL-WnCk_ze80STHDQ
                        - UCk2Oi0gykpdWgOMORu3TCjA
                        - UCIxLxlan8q9WA7sjuq6LdTQ
                        - UCjFCdrQ6-b0qREJ5YKkr_lg
                        - UCxfkOonfIpu6XCba7W0LbcQ
                        - UCha1U9CVS2f_zJY-yynte8A
                        - UCwYQXYfPHTZKANHzBHdYo2w
                        - UCbzzMQ1mNKjAaDwbELsVYcQ
                        - UCA06PZr2S4xv9bvxVMbE7VQ
                        - UCnUdm0u-2FRffBnxQYHuTHA
                        - UCEgm-3RvRn4nCR-fGGVsfdQ
                        - UCcLYOTz3ct6_lk9iLToxxAw
                        - UCBjr2QgkUNToRbwVecMgX3Q
                        - UCbR6jJpva9VIIAHTse4C3hw
                        - UCVLN0tY51ewH44wUtx3YZTA
                        - UCkK4Tzb9ieuAhcyWUZnLBBQ
                        - UC_oVYDT613F6viE3JENV-Yg
                        - UCYenDLnIHsoqQ6smwKXQ7Hg
                        - UC5lsLYgacl1dnZViTm6EsIA
                        - UCDkEYb-TXJVWLvOokshtlsw
                        - UCLVihavmaUONy0SeOX_F7aw
                        - UCjmBfhI-PIbIFu9AFF4D-Sg
                        - UCxA-y9vN2QTRTCSbwCJBPAA
                        - UC7g2N5Wq9q4nDORe3x49Ftw
                        - UC1NVjuwLxA_x5GI6jQ_DMsQ
                        - UC2bT0XuFvbImcLmkUgAvEqw
                        - UCsOoG6SdV7Bhb6wPrxZVNWQ
                        - UCnO6a9cX6ocochhzA8-BdoA
                        - UC4Tklxku1yPcRIH0VVCKoeA
                        - UCAzENhYrSStrpBL91zt6U0Q
                        - UCwOCcE4enBgo4DenWHv0JYA
                        - UCIfMka3q_tcPOYeiEZr3zjA
                        - UCHnyfMqiRRG1u-2MsSQLbXA
                        - UC3cRUKVHL5tk44KzyXbV7Cg
                        - UCplkXsPCqBvbZOsi9AYvvug
                        - UCAwjnLdBvZPVuCJU_8RHg_w
                        - UC_uTfDg6RRJ4cdxUI7nlFXw
                        - UCUhFaUpnq31m6TNX2VKVSVA
                        - UCdpNcdUH9ObL4XpNx-eDQ2g
                        - UCa6vGFO9ty8v5KZJXQxdhaw
                        - UCAszOEwa5CS4WFwYpkjdaUQ
                        - UC9M1vEGhRgd28qniDu-pDew
                        - UCSOpcUkE-is7u7c4AkLgqTw
                        - UCTecoCovL-9_f59o888a1cA
                        - UC7bPCZOmR8xc_8UjBgP_8pg
                        - UCf-z09Umbl8I21CwMpTLoyQ
                        - UCT_yBgKSiwb3WP4ACPnF5nA
                        - UCXIJgqnII2ZOINSWNOGFThA
                        - UCE_M8A5yxnLfW0KghEeajjw
                        - UCGxjDWAN1KwrkXYVi8CXtjQ
                        - UC3lJL1pUvQ2Ih2qZ-4ozrLw
                        - UCHOMwu9rsESLsDNSB8XgCUw
                        - UCptwuAv0XQHo1OQUSaO6NHw
                        - UCWVuy4NPohItH9-Gr7e8wqw
                        - UC7ozdvRD7Y0kbwFot4LmxAw
                        - UCal5H0vgmsKcwMKiUflVpEw
                        - UCHy8QSSJ1gXu-zbDlwwsE-w
                        - UCJNb9g5cwEzDV6syWZ0eK9Q
                        - UCaLCRvvau4acqQ4eLGZUywA
                        - UCptInZZydTD2gh_-Fttg_VQ
                        - UCtjiRW7g8WFVg_tiFX-9gsA
                        - UCPrfNyL7yN-15Q6Eu7UYkOA
                        - UCJx6JZSEJClyQVm75bQL-5Q
                        - UCVlMUh4WsDQvOxCJJXmWwdw
                        - UCtHm9ai5zSb-yfRnnUBopAg
                        - UCGvF47lmhFeNQvj03puADVg
                        - UC-8zGhJaeJ9kF0Y8QaKeTYw
                        - UC6AJUYrb8hqhHCSVtjelI0w
                        - UC-v54XQalOcx5yco3aTixrg
                        - UCTyuUxbflOZ0nESSnJBMpbg
                        - UClQQoervgLHV2pAOxHJ16NA
                        - UC5rUOvW9aEf_aUQ8UqzBfSg
                        - UCIrrRLyFMVmmL9NDAU2obJA
                        - UCCKsD3Azc7XEjzyMFI8DsBw
                        - UCiDJtJKMICpb9B1qf7qjEOA
                        - UCX6OQ3DkcsbYNE6H8uQQuVA
                        - UCeKONRFwOduYBHDxOAN9InQ
                        - UCgyBw9Y_aniBcnEq0eJPN0w
                        - UCpUUMhWg5GPD5ynP_vhnMJg
                        - UCzdxkyQb0W6Bo07X9ScbUeg
                        - UCl_LO48OHG9K8A3Js8Hj40g
                        - UCHJ-02TEGNS2GeD2wYetHSQ
                        - UCXAi-pPpdtc9uxU39E-PBEQ
                        - UCwMbSEgxhmOB5dXcxRTKHJQ
                        - UCWeaE5csOqxVMIW99q69BlQ
                        - UCfpCQ89W9wjkHc8J_6eTbBg
                        - UCQZ3j4faZQir7U4rvW4ItUA
                        - UC2gyzKcHbYfqoXA5xbyGXtQ
                        - UCwOBG77Tm8cE24FPxHb_abw
                        - UCtT2VnurQKOAA0I1EKKHSPA
                        - UCv9ingiPmqKs6ejZV2Pt6Dw
                        - UCoKMBuQ8YejlCbNm77ZL8jg
                        - UCaxWAd6mcrL1CWZdkUR4Kwg
                        - UCT6AJiTYspOILBK3hMWEq2g
                        - UCcZOERILmVmAWsFuxiG6n0g
                        - UCSWZxpzUTkriCZRe0Nl0UqA
                        - UC-U0quP8-RF1pvyCessLg0g
                        - UCJQjhL019_F0nckUU88JAJA
                        - UCYQ3utUKDWA8ekHBgY7ozuQ
                        - UCJOl2JvledP26K2OQ_HLgnQ
                        - UCXlDgfWY2JbsYEam2m68Hyw
                        - UCZZ4ivUawsXRktLKej8d6Xw
                        - UCugxX7vCPZZPPRCXYdbQY3g
                        - UCUun7jLOtkOcLuSC9KADjuw
                        - UCxDJbNtgLYUwjPg_xYjvSwQ
                        - UCrp2It0yWUC7XcrWyBIQeKw
                        - UCZRoNJu1OszFqABP8AuJIuw
                        - UCbW5tOCMJcgGGK6YtVqCLuA
                        - UC-ir42iPxsfz9MeDysH1MRw
                        - UCe_5cyghC66jIC64KnUs77w
                        - UC1Cp5caGwHvJZxHoevGoDdA
                        - UCGq7ov9-Xk9fkeQjeeXElkQ
                        - UCIzFYGAPkHURyo92D9ihs_g
                        - UCK1VlJid7ANJqEPDTM1RSoA
                        - UCvovNqrWdU7lQYRu_POX_bA
                        - UC-HMXSuM25Hw7EDMrbYg_bg
                        - UCmqH_QmPilpOwMCx-Xfde0g
                        - UCgyvzxg11MtNDfgDQKqlPvQ
                        - UCDWYbhR94ZYFUXd4NJvAHYQ
                        - UCe_Fx4EZAgKjDz0aQ_Y7hSA
                        - UCilMMM9A1l92ikebc-_gQgA
                        - UCr4-yFNgc44teZJ4DtD5mhg
                        - UCWWq67D7TofEPq_eBiaYCWw
                        - UCiL63uEtvDlbzpfmvs5dTHg
                        - UCKJgBJcJkc0Q4kZeGIyNTYA
                        - UCzVGVs_ridRZmU7qkltuY0w
                        - UCK81mcGq-hLp3oqYG6dOcaw
                        - UCET2WeWCR3BTTuKjJIFCyeQ
                        - UCpZy-Hfqcxf-R7nQzlv9Bvw
                        - UCd677p-lzplbTusvCU3NYYQ
                        - UCAjSHLRJcDfhDSu7WRpOu-w
                        - UC_Nql0AlGzl7dSAuTqBUPEA
                        - UCOmcA3f_RrH6b9NmcNa4tdg
                        - UC073quTeFarhKNe8ZuC6Qig
                        - UCgjkiGfJvgV6XWZy9EHwrjw
                        - UCEIwxahdLz7bap-VDs9h35A
                        - UClEWtMDCXO-_FXS15aAh_pg
                        - UCmJ5a16-2dJ8uvAA-1aj-hg
                        - UC14Rzu4t0lHRngM_VX5HWYw
                        - UCTIFIULcxN0sh8b3uXgDX6g
                        - UC5lDVbmgb-sAcx2fjwy3KQA
                        - UCgDqL4yzXb4BflimZaxL4Vg
                        - UCwBnXlOxxt2MC5tZhyr2JQw
                        - UClXdQLTwoi_hOP_36EtdF1g
                        - UCwWhs_6x42TyRM4Wstoq8HA
                        - UCSvD1S5kHsr9tvD3gDXkPkQ
                        - UC6H07z6zAwbHRl4Lbl0GSsw
                        - UCdp4_l1vPmpN-gDbUwhaRUQ
                        - UCqh8w-GY6v0vgwIn_iWt87A
                        - UC18WQbNSfrqxlIjKeIW3bGQ
                        - UC2VrA-oteANZQ07TquwBvAQ
                        - UC0MYNOsIrz6jmXfIMERyRHQ
                        - UCXXnwJW6WTK2b3i3p6GLaPw
                        - UCqFzWxSCi39LnW1JKFR3efg
                        - UCh_q04rXuPAFlBS9LqStx5A
                        - UChWB95_-n9rUc3H9srsn9bQ
                        - UCH5Ina9r-fPgb28W3qx_nNA
                        - UCiO0K2xt5irIN6x13FNzYTg
                        - UCswqv-OXePrufGSxIbE9_Jg
                        - UCklLqgV4VVXZyM3lXITC-Fw
                      videoPrice:
                        cpmLow: 9
                        cpmRaw: 13
                        cpmHigh: 17
                        priceLow: 13240
                        priceRaw: 18914
                        priceHigh: 24588
                      shortsPrice:
                        cpmLow: 8
                        cpmRaw: 11
                        cpmHigh: 14
                        priceLow: 12655
                        priceRaw: 18079
                        priceHigh: 23502
                      lastDbUpdateTime: 1771893695410
                    traceId: 15a56a8f5462e75e8b12c1baf88d83c7
                    timestamp: 1772012370616
                    errorCode: ""
                    errorDescription: ""
                    success: true
        "400":
          description: Validation error.
          content:
            application/json:
              schema:
                type: object
                title: ValidationErrorResponse
                properties:
                  success:
                    const: false
                  error:
                    type: string
                  message:
                    type: string
                  timestamp:
                    type: integer
                required:
                  - success
                  - error
                  - message
                  - timestamp
              examples:
                missing identifier:
                  summary: No identifier provided
                  value:
                    success: false
                    error: "VALIDATION_ERROR"
                    message: "Missing required identifier: 'channelId' or 'uniqueId'."
                    timestamp: 1770099403116
                invalid channelId:
                  summary: Invalid channelId format
                  value:
                    success: false
                    error: "VALIDATION_ERROR"
                    message: "Invalid `channelId` format. YouTube channel IDs must start with 'UC' followed by 22 characters."
                    timestamp: 1770099403116
        "429":
          description: Exceeded quota or rate limit.
          content:
            application/json:
              schema:
                type: object
                title: QuotaErrorResponse
                properties:
                  success:
                    const: false
                  error:
                    type: string
                  message:
                    type: string
                  remainingPlanCredit:
                    type: number
                required:
                  - success
                  - error
                  - message
                  - remainingPlanCredit
              examples:
                rate limit:
                  summary: Rate limit exceeded
                  value:
                    success: false
                    error: "RATE_LIMIT_EXCEEDED"
                    message: "Too many requests. Please try again later."
                quota exceeded:
                  summary: Credit quota exceeded
                  value:
                    success: false
                    error: "QUOTA_EXCEEDED"
                    message: "Not enough credits to complete this request."
      security:
        - ApiKeyAuth: []
      servers:
        - url: "https://apiv3.creatordb.app"
          description: Production Environment (CreatorDB Headless API V3)
  # YouTube creator contact
  /youtube/contact:
    get:
      tags:
        - YouTube
      summary: Get YouTube Contact Information
      description: Retrieve the contact information of the specified YouTube creator.
      operationId: getYoutubeContact
      parameters:
        - name: channelId
          in: query
          description: The unique YouTube channel ID.
          required: true
          schema:
            type: string
            pattern: "^UC[a-zA-Z0-9_-]{22}$"
            minLength: 1
            maxLength: 50
            examples:
              - UCBR8-60-B28hp2BmDPdntcQ
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl -X GET "https://apiv3.creatordb.app/youtube/contact?channelId=UCX6OQ3DkcsbYNE6H8uQQuVA" \
              -H "Content-Type: application/json" \
              -H "api-key: <YOUR_API-KEY_HERE>"
      responses:
        "200":
          description: YouTube creator contact information returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Contact information of the specified YouTube creator.
                    properties:
                      emails:
                        type: array
                        description: "Associated email addresses. Empty if unavailable."
                        examples:
                          - - example@email.com
                        items:
                          type: string
                          format: email
                    required:
                      - emails
                    examples:
                      - emails:
                          - example@email.com
                  creditsUsed:
                    type: integer
                    description: Number of API credits consumed by this request.
                    examples:
                      - 1
                  creditsAvailable:
                    type: integer
                    description: "Number of API credits remaining. Returns `-1` if the quota is unlimited."
                    examples:
                      - -1
                  traceId:
                    type: string
                    description: Unique trace ID for each request.
                    examples:
                      - f8e4a3b2c1d0e9f8a7b6c5d4e3f2a1b0
                  timestamp:
                    type: integer
                    description: "Time the response was generated, represented as a Unix timestamp in milliseconds."
                    examples:
                      - 1750732453635
                  errorCode:
                    type: string
                    description: Error code returned if the request fails. Empty if the request is successful.
                    examples:
                      - ""
                  errorDescription:
                    type: string
                    description: Description of the error. Empty if the request is successful.
                    examples:
                      - ""
                  success:
                    type: boolean
                    description: "`true` if the request is successful."
                    examples:
                      - true
                required:
                  - data
                  - traceId
                  - timestamp
                  - errorCode
                  - errorDescription
                  - success
                  - creditsUsed
                  - creditsAvailable
              examples:
                default:
                  value:
                    data:
                      emails:
                        - contact@mrbeastbusiness.com
                      creditsUsed: 1
                      creditsAvailable: -1
                      traceId: 1565d8d07cc82917f4cc22bd240d1adc
                      timestamp: 1767934354696
                      errorCode: ""
                      errorDescription: ""
                      success: true
        "400":
          description: Validation error.
          content:
            application/json:
              schema:
                type: object
                title: ValidationErrorResponse
                properties:
                  success:
                    const: false
                  error:
                    type: string
                  message:
                    type: string
                  timestamp:
                    type: integer
                required:
                  - success
                  - error
                  - message
                  - timestamp
              examples:
                missing identifier:
                  summary: No identifier provided
                  value:
                    success: false
                    error: "VALIDATION_ERROR"
                    message: "Missing required identifier: 'channelId' or 'uniqueId'."
                    timestamp: 1770099403116
                invalid channelId:
                  summary: Invalid channelId format
                  value:
                    success: false
                    error: "VALIDATION_ERROR"
                    message: "Invalid 'channelId' format. YouTube channel IDs must start with 'UC' followed by 22 characters."
                    timestamp: 1770099403116
        "429":
          description: Exceeded quota or rate limit.
          content:
            application/json:
              schema:
                type: object
                title: QuotaErrorResponse
                properties:
                  success:
                    const: false
                  error:
                    type: string
                  message:
                    type: string
                  remainingPlanCredit:
                    type: number
                required:
                  - success
                  - error
                  - message
                  - remainingPlanCredit
              examples:
                rate limit:
                  summary: Rate limit exceeded
                  value:
                    success: false
                    error: "RATE_LIMIT_EXCEEDED"
                    message: "Too many requests. Please try again later."
                quota exceeded:
                  summary: Credit quota exceeded
                  value:
                    success: false
                    error: "QUOTA_EXCEEDED"
                    message: "Not enough credits to complete this request."
      security:
        - ApiKeyAuth: []
      servers:
        - url: "https://apiv3.creatordb.app"
          description: Production Environment (CreatorDB Headless API V3)
  # YouTube creator performance
  /youtube/performance:
    get:
      tags:
        - YouTube
      summary: Get YouTube Performance Information
      description: "Retrieve advanced performance information of a specified YouTube creator, including upload activity, subscriber growth, engagement metrics, and video performance."
      operationId: getYoutubePerformance
      parameters:
        - name: channelId
          in: query
          description: The unique YouTube channel ID.
          required: true
          schema:
            type: string
            pattern: "^UC[a-zA-Z0-9_-]{22}$"
            minLength: 1
            maxLength: 50
            examples:
              - UCBR8-60-B28hp2BmDPdntcQ
      x-codeSamples:
        - lang: bash
          label: cURL
          source: |
            curl -X GET "https://apiv3.creatordb.app/youtube/performance?channelId=UCX6OQ3DkcsbYNE6H8uQQuVA" \
              -H "Content-Type: application/json" \
              -H "api-key: <YOUR_API-KEY_HERE>"
      responses:
        "200":
          description: Performance data of the specified YouTube creator returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Performance metrics of the specified YouTube creator.
                    properties:
                      contentCountByDays:
                        type: object
                        description: Number of videos published over different time intervals.
                        properties:
                          7d:
                            type: integer
                            description: Number of videos published in the past 7 days.
                            minimum: 0
                            examples:
                              - 1
                          30d:
                            type: integer
                            description: Number of videos published in the past 30 days.
                            minimum: 0
                            examples:
                              - 2
                          90d:
                            type: integer
                            description: Number of videos published in the past 90 days.
                            minimum: 0
                            examples:
                              - 2
                        required:
                          - 7d
                          - 30d
                          - 90d
                      ranking:
                        type: object
[...]
